@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}


.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#mese {
    position: relative;
    margin-bottom: 15px;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}

#mese .fas {
    padding: 25px 80px;
    position: absolute;
    font-size: 48px;
    transition: all .3s;
}

#mese .left {
    top: 0;
    left: 0;
}

#mese .right {
    top: 0;
    right: 0;
}

#mese .fas:hover {
    cursor: pointer;
    border-radius: 15px;
    color: #0019fe;
}

#griglia {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
}

.day {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 130px;
    border: solid 2px #fff;
    background-color: #e9e6e6
}

.holiday {
    background-color: #c20114;
    color: #fff;
}

.holiday .holiday-name {
    position: absolute;
    bottom: 0;
    right: auto;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 0.9;
}
